

<%= render 'layouts/portal/logo_portal' %> 
<h2 class="h3"><%= params[:role] == 'admin' ? 'Admin Login' : 'Client Login' %></h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <%= hidden_field_tag :role, params[:role] %> <!-- Campo oculto para persistir o role -->

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<div class="mt-3 ">
  <% if params[:role] != 'admin' %>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
