<div class="container card">
  <div class="card-header">
    <h3 class="card-title">Lista de Hoteis</h3>
    <div class="d-flex card-actions">
      <% if @pagy.count > 6 %>
        <div class="me-5">
          <%= pagy_bootstrap_nav(@pagy).html_safe %>
        </div>
      <% end %>
      <%= link_to new_admin_hotel_path, class: "ms-5 btn btn-primary" do %>
        <i class="bi bi-plus-circle me-2"></i>
        Adicionar Novo
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-vcenter table-mobile-md card-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</thEmai>
          <th>Qtd.Quartos</th>
          <th>Qtd. Andar</th>
          <th>Quartos</th>
          <th class="w-1"></th>
          s
        </tr>
      </thead>
      <tbody>
        <% @hotels.each do |hotel| %>
          <tr>
            <td data-label="Name">
              <div class="d-flex py-1 align-items-center">
                <div class="flex-fill">
                  <div class="font-weight-medium">
                    <%= hotel.name %>
                  </div>
                </div>
              </div>
            </td>
            <td data-label="Name">
              <div class="d-flex py-1 align-items-center">
                <div class="flex-fill">
                  <div class="font-weight-medium">
                    <%= hotel.email %>
                  </div>
                </div>
              </div>
            </td>
            <td data-label="Name">
              <div class="d-flex py-1 align-items-center">
                <div class="flex-fill">
                  <div class="font-weight-medium">
                    <%= hotel.telephone %>
                  </div>
                </div>
              </div>
            </td>
            <td data-label="Name">
              <div class="d-flex py-1 align-items-center">
                <div class="flex-fill">
                  <div class="font-weight-medium">
                    <%= hotel.total_rooms %>
                  </div>
                </div>
              </div>
            </td>
            <td data-label="Name">
              <div class="d-flex py-1 align-items-center">
                <div class="flex-fill">
                  <div class="font-weight-medium">
                    <%= hotel.floors %>
                  </div>
                </div>
              </div>
            </td>
            <td data-label="Name">
              <div class="d-flex py-1 align-items-center">
                <div class="flex-fill">
                  <div class="font-weight-medium">
                    <%= link_to "Quartos", admin_hotel_rooms_path(hotel) %>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="btn-list flex-nowrap">
                <%= link_to admin_hotel_path(hotel), title: "Visualizar", class: "btn btn-success btn-icon" do %>
                  <i class="bi bi-eye-fill" style="color: white;"></i>
                <% end %>
                <%= link_to edit_admin_hotel_path(hotel), title: "Editar", class: "btn btn-icon" do %>
                  <i class="bi bi-pencil-fill"></i>
                <% end %>
                <%= button_to admin_hotel_path(hotel), method: :delete, title: "Deletar", class: "btn btn-danger btn-icon", data: { turbo_confirm: 'Você tem certeza?' } do %>
                  <i class="bi bi-trash"></i>
                <% end %>
                <%= link_to room_to_block_admin_hotel_rooms_path(hotel_id: hotel.id), title: "Bloquear Quartos", class: "btn btn-outline-secondary btn-icon" do %>
                  <i class="bi bi-type-bold"></i><i class="bi bi-bootstrap-reboot"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>